<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="vip.waitfor.website.mapper.CarouselMapMapper">

	<!-- 插入图片数据 -->
	<!-- Integer insert(CarouselMap carouselMap);-->
	<insert id="insert"
			useGeneratedKeys="true"
			keyProperty="id">
		INSERT INTO CarouselMap (
			id,url,
			created_user, created_time,
			modified_user, modified_time
		) VALUES (
			#{id},#{url},
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)
	</insert>


	<!-- 查询所有轮播图片 -->
	<!-- CarouselMap findAll();-->
	<select id="findAll"
			resultType="vip.waitfor.website.entity.CarouselMap">
		SELECT
			id,url,
			created_user AS createdUser,
			created_time AS createdTime,
			modified_user AS modifiedUser,
			modified_time AS modifiedTime
		FROM
			CarouselMap
	</select>

	<!-- 根据id查询数据 -->
	<!-- CarouselMap findcarouselMap(Integer id);-->
	<select id="findcarouselMap"
			resultType="vip.waitfor.website.entity.CarouselMap">
		SELECT
			id,url,
			created_user AS createdUser,
			created_time AS createdTime,
			modified_user AS modifiedUser,
			modified_time AS modifiedTime
		FROM
			CarouselMap
		WHERE
			id=#{id}
	</select>



	<!-- 根据id删除图片信息 -->
	<!-- Integer deleteById(Integer id) -->
	<delete id="deleteById">
		DELETE FROM
			CarouselMap
		WHERE
			id=#{id}
	</delete>



</mapper>












